<!DOCTYPE html>
<html ng-app="quizApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles.css">
    <title>quizApp</title>
</head>
<body ng-controller="myCtrl">
    <h1>🤓quizApp💻</h1>

counter {{counter}}
<!-- limitTo:1 -->
    <div class="prollemBox" ng-repeat="Q in item | limitTo: 1: counter">
<!-- {{item}} -->
<!-- <div class="prollemBox"> -->
          <div class="qHeader">
            <h3>#{{Q.id}}</h3>
            <h3>Title: {{Q.title}}</h3>
            <h3>Topic: {{Q.topic}}</h3>
            <h3>difficulty: {{Q.difficulty}}</h3>
        </div>
        <hr>
        <div class="qBox">
        <code>{{Q.question}}</code></div>
        <h3>Answer: {{Q.answer}}</h3>
        <h3>Comments: {{Q.comments}}</h3>
        <!-- <form class="" method="post"> -->
        <input type="text" placeholder="answer" ng-model="userResponse.q1">
        <button type="submit" ng-click="onSubmit(userResponse.q1)">Submit</button>
        <!-- </form> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./controller.js"></script>
    <script src="./service.js"></script>
    <!-- <script src="./home/home.html"></script> -->
    <!-- <script src="./states/state2.html"></script>
    <script src="./states/state3.html"></script> -->
    <script src="../dataObj.json"></script>
</body>

</html>
